@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 7% 8%;
    --foreground: 180 9% 98%;

    --card: 220 7% 8%;
    --card-foreground: 180 9% 98%;

    --popover: 220 7% 8%;
    --popover-foreground: 180 9% 98%;

    --primary: 225 73% 57%;
    --primary-foreground: 180 9% 98%;

    --secondary: 230 7% 16%;
    --secondary-foreground: 180 9% 98%;

    --muted: 222 8% 24%;
    --muted-foreground: 225 8% 49%;

    --accent: 225 73% 16%;
    --accent-foreground: 180 9% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 228 8% 12%;
    --input: 225 9% 18%;
    --ring: 225 73% 40%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: 'Poppins', sans-serif;
  }
}

*::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #4169e1;
  border-radius: 10px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: hidene;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: auto;
  font-weight: 100;
  src: url(@fontsource/poppins/files/poppins-latin-100-normal.woff2) format('woff2'), url(@fontsource/poppins/files/poppins-latin-100-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: auto;
  font-weight: 200;
  src: url(@fontsource/poppins/files/poppins-latin-200-normal.woff2) format('woff2'), url(@fontsource/poppins/files/poppins-latin-200-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: auto;
  font-weight: 300;
  src: url(@fontsource/poppins/files/poppins-latin-300-normal.woff2) format('woff2'), url(@fontsource/poppins/files/poppins-latin-300-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: auto;
  font-weight: 400;
  src: url(@fontsource/poppins/files/poppins-latin-400-normal.woff2) format('woff2'), url(@fontsource/poppins/files/poppins-latin-400-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: auto;
  font-weight: 500;
  src: url(@fontsource/poppins/files/poppins-latin-500-normal.woff2) format('woff2'), url(@fontsource/poppins/files/poppins-latin-500-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: auto;
  font-weight: 600;
  src: url(@fontsource/poppins/files/poppins-latin-600-normal.woff2) format('woff2'), url(@fontsource/poppins/files/poppins-latin-600-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: auto;
  font-weight: 700;
  src: url(@fontsource/poppins/files/poppins-latin-700-normal.woff2) format('woff2'), url(@fontsource/poppins/files/poppins-latin-700-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: auto;
  font-weight: 800;
  src: url(@fontsource/poppins/files/poppins-latin-800-normal.woff2) format('woff2'), url(@fontsource/poppins/files/poppins-latin-800-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: auto;
  font-weight: 900;
  src: url(@fontsource/poppins/files/poppins-latin-900-normal.woff2) format('woff2'), url(@fontsource/poppins/files/poppins-latin-900-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}